:root {
  --primary: #f30050;
  --font: rgba(255, 255, 255, 0.7);
  --font-style: "Work Sans", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  padding-left: 20%;
  padding-bottom: 10vh;
  background: linear-gradient(
    95deg,
    rgba(124, 15, 53, 0.2) 4.79%,
    rgba(88, 18, 102, 0.2) 100%
  );
}
.footer {
  height: 10vh;
  width: 100%;
  background: var(--primary);
  position: fixed;
  bottom: 0px;
}

.sidebar {
  width: 20%;
  min-height: 90vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #292929;
  display: flex;
  flex-direction: column !important;
  gap: 20px;
  border-radius: 0px 32px 32px 0px;
  padding: 20px 0px;
  justify-content: space-between;
}

.heading {
  font-family: Pacifico;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sidebar-tab {
  height: 65px;
  width: 100%;
  display: block;
  text-decoration: none;
  color: var(--font);
  font-family: var(--font-style);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 5%;
}

.sidebar-tab p {
  height: 24px;
  /* text-align: justify;..../ / */
}
.sidebar-tab img {
  width: "24px";
  height: "24px";
}

.is-Active {
  height: 65px;
  width: 100%;
  background-color: var(--primary);
}

.sidebar-bottom {
  display: flex;
  gap: 20px;
  margin: 10% 20%;
}
.sidebar-mini {
  display: none;
}

@media all and (min-width: 320px) and (max-width: 479px) {
  .dropdown-menu{
    background-color: #292929;
    width: 200px;
    margin: 0% !important;
    padding: 0% !important;
  }
  .sidebar-tab {
    height: 65px;
    width: 100%;
    display: block;
    text-decoration: none;
    color: white;
    font-family: var(--font-style);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 5%;
  }
  
  .sidebar-tab img {
    width: "24px";
    height: "24px";
  }
  .sidebar {
    display: none;
  }
  .sidebutton {
    display: block;
  }
  .sidebar-mini {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid white;
    align-items: center;
    height: 50px;
    padding: 2rem 1rem;
  }
  .fir {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: .5rem;
  }
  .fir h1 {
    color: white !important;
    font-size: 18px;
    padding-top: 10px;
  }
  .fir button {
    background: none;
    border: none;
  }
}
