@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Work+Sans&display=swap');

:root{
  --font: rgba(255, 255, 255, 0.7);
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: #ffffff;
  color: var(--font);
}

body{
  background-size: 100%;
}
/* 
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif; 
*/

@media all and (min-width: 320px) and (max-width: 479px){
  body{
    background-size: initial;
  }
}